@model OtoGaleri_Entities.Tablolar.DigerMasrafTurleri
    @using OtoGaleri.RazorHelpers
@{
    ViewBag.Title = "DigerMasrafTuruEkle";
}
<title>Diğer Masraflar Türü Ekle</title>
<link href="~/Content/validation-summary.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Diğer Masraf Türü Oluştur</h2>
        <hr />
    </div>

</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @using (Html.BeginForm())
        {


            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.MasrafAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MasrafAdi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MasrafAdi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>Oluştur
                        </button>

                        @*@Html.ActionLink("Diğer Masraflara Dön", "DigerMasraflar", "Ekonomi", null, new { @class = "btn btn-default" })
                        @Html.ActionLink("Diğer Masrafların Türlerini Gör", "DigerMasrafTuru", "Ekonomi", null, new { @class = "btn btn-primary" })*@

                        <a href="@Html.EncodedLink("", "DigerMasraflar", "Ekonomi", new { }, new { @class = "form-control"})" class="btn btn-default">
                            Diğer Masraflara Dön
                        </a>
                        <a href="@Html.EncodedLink("", "DigerMasrafTuru", "Ekonomi", new { }, new { @class = "form-control"})" class="btn btn-primary">
                            Diğer Masraf Türlerini Gör
                        </a>
                    </div>
                </div>
            </div>

        }



    </div>
</div>



