@model IEnumerable<OtoGaleri_Entities.Tablolar.Personeller>

@{
    ViewBag.Title = "Index";
}
<title>Personeller</title>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Personeller</h2>
        <hr />
    </div>

</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p>
            <a href="/Personel/Create" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>Oluştur
            </a>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Adi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Soyadi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Eposta)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Telefon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KayitTarih)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.KullaniciAdi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sifre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ucret)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UcretPeriyodu)
                </th>


                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Soyadi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Eposta)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Telefon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KayitTarih)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.KullaniciAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sifre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ucret)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UcretPeriyodu)
                    </td>

                    <td>

                        <a href="/Personel/Edit/@item.Id" class="btn btn-warning">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="/Personel/Details/@item.Id" class="btn btn-info">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                        <a href="/Personel/Delete/@item.Id" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>

                    </td>
                </tr>
            }

        </table>
    </div>
</div>